<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="autor" content="@iAntonAMC">
    <meta charset="UTF-8">
    <meta name="description" content="SIVAL principal page">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/scrollbar.css">  <!-- Scroll_Bar -->
    <title>SIVAL | HOME</title>
</head>

<body>
    <nav>
        <a href="/mvc/views/login.html" style="--clr: #4CAF50;"><span>Iniciar Sesión</span><i></i></a>
    </nav>
    <header>
        <h1>SISTEMA DE VALIDACIÓN DEL ALUMNADO [SIVAL]</h1>
    </header>
    <main>
        <section>
            <p><b>
                SIVAL es un sistema que sirve como herramienta para ayudar a solucionar los puntos débiles al momento de llevar un control y administración en los accesos del alumnado, 
                con la cooperación de vigilantes, directores, profesores y servicios escolares para llevar una mejor administración, validando y coordinando los accesos tanto a la universidad como a los diferentes laboratorios de la misma.
            </b></p>
            <div class="divcontenido">
                <a style="text-decoration: none; color: #4525d4; font-weight: 700;" href="http://utectulancingo.edu.mx" target="_blank"><img class="cuadroflotante" src="assets/images/utec1.png" alt="Botón para acceder a uno de los enlaces de asociados SIVAL"></img><br>Página UTEC</a>
                <a style="text-decoration: none; color: #4525d4; font-weight: 700;" href="http://200.79.176.154/papa_halcon/" target="_blank"><img class="cuadroflotante" src="assets/images/logoc.png" alt="Botón para acceder a uno de los enlaces de asociados SIVAL"></img><br>Papá Halcón</a>
                <a style="text-decoration: none; color: #4525d4; font-weight: 700;" href="https://github.com/GRJR1325/Proyecto_Integrador_SIVAL" target="_blank"><img class="cuadroflotante" src="assets/images/octocat.png" alt="Botón para acceder a uno de los enlaces de asociados SIVAL"></img><br>Repositorio GitHub</a>
            </div>
        </section>
        <aside>
            <img class="logocontainer" src="/static/images" alt="Logo de SIVAL"></img>
            <p class="brand">- Seguridad -</p>
            <p class="brand">- Administración -</p>
            <p class="brand">- Control -</p>
        </aside>
    </main>
    <footer>
        <p><b>Granados Rivera José Rolando | Torres Fernández Jesús Antonio</b>
        <br>
        <span>© Copyright 2022.</span></p>
    </footer>
</body>

</html>
