<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login for SIVAL">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <a href="/index.php">Inicio</a>
    </header>

    <main>
        <h1>Login</h1>
        <form action="/SIVAL/mvc/controllers/login_controller.php" method="POST">

            <label for="username"><h2>Username:</h2></label>
            <input type="text" name="username" id="username" placeholder="Insert yor Username">

            <label for="passwd"></label><h2>Password:</h2></label>
            <input type="password" name="passwd" id="passwd" placeholder="">
            <br>

            <input type="submit" title="Log In">
        </form>
    </main>

</body>

</html>
