<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Inicio de Sesion" />

  <title> SIVAL | LAB INSERT </title>

  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/SIVAL/static/stylesheets/materialize.min.css" />

</head>

  <body>
    <header>
      <div class="navbar-fixed ">
        <nav>
          <div class="nav-wrapper white s3">
            <img
              class="responsive-img"
              style="height: 70px"
              src="/SIVAL/static/images/logo2.png"
            />
            <a href="/SIVAL/mvc/views/index.html" class="brand-logo grey-text s4"
              >SIVAL</a
            >
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="#">
                  <i class="large material-icons cyan-text text-darken-4"
                    >apps</i
                  >
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="large material-icons cyan-text text-darken-4"
                    >note_add</i
                  >
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="large material-icons cyan-text text-darken-4"
                    >account_box</i
                  >
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container1">
        <div class="row">
          <div class="col l2 m3 s3 block hide-on-small-only">
            <div class="collection">
              <a href="/SIVAL/mvc/views/master.php" class="collection-item">
                <span class="badge"> <i class="material-icons">home</i> </span
                >Home</a
              >
              <a
                href="/SIVAL/mvc/views/alumnos/alumnos.html"
                class="collection-item"
              >
                <span class="badge"> <i class="material-icons">people</i> </span
                >Students</a
              >
              <a
                href="/SIVAL/mvc/views/laboratories/labs_list.php"
                class="collection-item"
              >
                <span class="badge"
                  ><i class="material-icons">business</i> </span
                >Laboratories</a
              >
              <a
                href="/SIVAL/mvc/views/users/users_list.php"
                class="collection-item"
                ><span class="badge"
                  ><i class="material-icons">person_add</i> </span
                >Users</a
              >
              <a
                href="/SIVAL/mvc/views/consult/consult_filter.html"
                class="collection-item"
                ><span class="badge"
                  ><i class="material-icons">find_in_page</i> </span
                >Queries</a
              >
              <a
                href="/SIVAL/mvc/views/visitors/visitors_list.php"
                class="collection-item"
                ><span class="badge"
                  ><i class="material-icons">directions_walk</i> </span
                >QR Visitors</a
              >
              <div class="divider green"></div>

            </div>
          </div>
          <div class="col l10">
            <div class="column">
              <div
              class="col s12 l12"
              style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <h5>ADD LABORATORY</h5>
              </div>
            </div>

            Add new Laboratory
            <div class="divider green"></div>
            <div class="row">
                <form class="col s12" action="/SIVAL/mvc/controllers/laboratories/create_lab.php" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input type="text" id="lab_name" name="lab_name" required  minlength="3" maxlength="20">
                      <label for="lab_name">Laboratorie Name</label>
                    </div>

                    <div class="input-field col s6">
                      <select type="text" id="building" name="building" placeholder="Lab Ubication" required>
                        <option for="floor" disabled selected>Building</option>
                        <option value="A">A</option>
                        <option value="C">C</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        </select>
                    </div>

                    <div class="input-field col s6">
                        <select type="text" id="floor" name="floor" placeholder="Lab Floor" required>
                          <option for="floor" disabled selected>Floor</option>
                          <option value="H">Upper Floor</option>
                          <option value="G">Fist Floor</option>
                        </select>
                    </div>

                    <div class="input-field col s6">
                        <input type="number" id="capacity" name="capacity" min="0" max="50" value="20">
                        <label for="capacity">Capacity</label>
                    </div>

                    
                  </div>
                  <div class="row center">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light red" type="submit" name="action">CANCEL
                        <i class="material-icons right">cancel</i>
                      </button>

    
                      <button class="btn waves-effect waves-light" type="submit" title="Save Lab">POST NEW LABORATORIE
                        <i class="material-icons right">system_update_alt</i>
                      </button>

                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>

    <script type="text/javascript" src="/SIVAL/static/js/materialize.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".slider");
        var instances = M.Slider.init(elems);

        var sel = document.querySelectorAll('select');
        var instances = M.FormSelect.init(sel);
      });
    </script>
  </body>
</html>
